@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --font: 'Nanum Gothic', sans-serif;
}
.click:hover{
    cursor: pointer;
}
button {
    padding: 7px 9px;
    background-color: #FAFAFA;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    margin: 0 14px 0 18px;

}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: rgb(38, 38, 38);

}

ul {
    margin: 30px 0;
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
    margin-right: 40px;
}

.main {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 24px;
    margin-top: 2px;
}

#user {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 35px 0px;
    display: flex;
    flex-direction: row;
}

.user-picture {
    width: 250px;
    display: flex;
    justify-content: center;
}

.user-config {
    display: flex;
    flex-direction: row;
}

.user-image {
    border-radius: 50%;
}

.user-name {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

.responsive-name {
    display: none;
    width: 95%;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 30px;
    display: flex;
}

.responsive {
    display: none;
}

.user-description {
    margin-left: 45px;
}

.story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border: 1px solid rgb(218, 218, 218);

}

.story img {
    width: 60px;
    height: 60px;
}

.addStory {
    display: flex;
    width: 87px;
    flex-direction: column;
    align-items: center;
}

.addStory p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    font-size: 13px;
    margin-top: 10px;
}

.stories {
    margin: 0 auto;
    max-width: 880px;
    padding: 5px 35px;
    display: flex;
    flex-direction: column;
}

.nav-posts {
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
}

.nav-buttons {
    width: 100%;
    max-width: 935px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(218, 218, 218);
    margin: 50px 22px 0px 22px;

}

.nav-buttons ul {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-buttons li {

    padding: 15px 5px 0 5px;
    margin-bottom: 0 !important;
    margin-top: -1px;
    margin-right: 43px;
    color: rgb(177, 177, 177);
}

.active {
    color: black !important;
    font-weight: 500;
    border-top: 1.8px solid black;
}

li:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    button {
        display: none;
        width: 100%;
        max-width: 200px;
        margin: 10px 0px;
    }

    h2 {
        margin-right: 5px;
    }

    .responsive-name {
        font-size: 13px;
        margin-top: 20px;

    }

    #user {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .user-image {
        width: 77px;
        height: 77px;
    }

    .user-picture {
        width: 125px;
        height: 77px;
        min-width: 100px;
    }

    .user-description {
        width: 100%;
        margin: 0 0 0 10px;
    }

    .user-information {
        display: none;
    }

    .user-name {
        display: none;
    }

    .responsive {
        display: block;
    }

    .story {
        width: 60px;
        height: 60px;
    }

    .stories {
        padding: 25px 0px;
    }

    .story img {
        width: 35px;
        height: 35px;
    }

    .addStory p {
        font-size: 11px;
        margin-top: 7px;
        font-weight: 100;
    }

    .nav-buttons {
        margin: 5px 22px 0px 22px;

    }


}