<section id="main">
    <div id="user">
        <div class="user-picture">
            <img class="user-image" src="assets/img/user.png" alt="user image">
        </div>
    
        <div class="user-description">
            <div class="user-config">
                <h2>sebastian_g302</h2>
                <button class="edit-button">Edit profile</button>
                <a><img class="icon"src="assets/img/config.png" alt="config button"></a>
            </div>
            <button class="edit-button responsive">Edit profile</button>
            <div class="user-information">
                <ul>
                    <li class="list-information">
                        <strong>0</strong> posts
                    </li>
                    <li class="list-information">
                        <strong>52</strong> followers
                    </li>
                    <li class="list-information">
                        <strong>61</strong> following
                    </li>
                </ul>
            </div>
            <div class="user-name">
                <strong>Sebastian Guerrero</strong>
            </div>
        </div>
    </div>
    <div class="responsive-name responsive">
        <strong>Sebastian Guerrero</strong>
    </div>
    <div class="stories">
        <div class="addStory">
            <div class="story"><img src="assets/img/mas.png"></div>
            <p>New</p>
        </div>  
    </div>
</section>

<nav class="nav-posts">
    <div class="nav-buttons">
        <ul>
            <li routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Posts</li>
            <li routerLink="tagged"
            routerLinkActive="active">Tagged</li>
        </ul>
    </div>
</nav>