<nav>
    <div id="container-navbar">
        <a class="logo" href="#"><img src="assets/img/instagram.png"><img id="arrow" src="assets/img/down-arrow.png"></a>
        

        <div class="input">
            <img class="icon" src="assets/img/search.png">
            <form>
                <input type="text" placeholder="Search">
            </form> 
        </div>

        <div class="icon-collection">
            <a href="#">
                <img class="icons-instagram" src="assets/img/home.png">
            </a>
            <a href="#">
                <img class="icons-instagram" src="assets/img/chat.png">
            </a>
            <a href="#">
                <img class="icons-instagram" src="assets/img/plus.png">
            </a>
            <a href="#">
                <img class="icons-instagram" src="assets/img/explore.png">
            </a>
            <a href="#">
                <img class="icons-instagram" src="assets/img/like.png">
            </a>
            <a href="#">
                <img class="icons-instagram user" src="assets/img/user.png">
            </a>
        </div>

    </div>
</nav>
